img{
    width:300px;
}

img:hover{

    /* opacity: 0; */
    opacity: 0.5;
}

.bg{
    width:300px;
    height: 300px;
    background: url(image/tree.png) no-repeat center;
    overflow: hidden;
}

.box p{
    text-align: center;
    background-color: burlywood;
    padding:10px ;
    margin-top: 50px;
    opacity: 0.5;
}
