body{
    background-color: black;
    background-image:url(image/background.png);
    background-repeat: no-repeat;
    background-position: right;
}

h1{
    color:white;
    background-color:green;
}

p {
    color:black;
}